<div class="user-dashboard">

  <span style="color: #4592af;">使用者:</span>

  <form action="/logout" method="post" class="ms-3" style="display: inline;">
    <button type="submit" class="btn btn-outline-secondary">登出</button>
  </form>

  <a href="/login"><button class="btn btn-success">登入</button></a>
  <a href="/register"><button class="btn btn-warning">註冊新帳號</button></a>

</div>