SESSION_SECRET = ThisIsSecret
SESSION_SECRET=ThisIsSecret
FACEBOOK_CLIENT_ID=453295131022674
FACEBOOK_CLIENT_SECRET=37afccf66fc9d50455940d1b63cabc75
FACEBOOK_CALLBACK_URL=http://localhost:3000/oauth2/redirect/facebook